/* Lecture 3A */

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f9f9f9;
  color: #333;
}
section {
  margin-bottom: 2rem;
}
button {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
input {
  padding: 0.5rem;
  margin-right: 0.5rem;
}